<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.campus.platform.repository.NotificationRepository">

    <select id="findByRecipientId" resultType="com.campus.platform.entity.Notification">
        SELECT * FROM notification
        WHERE recipient_id = #{recipientId}
        ORDER BY created_at DESC
    </select>

    <update id="updateIsRead">
        UPDATE notification
        SET is_read = #{isRead}
        WHERE notification_id = #{notificationId}
    </update>

</mapper>
